<article class='post music-post column has-background-white m-3'>
  <div class='post-title'>
      <p class='is-inline is-titillium-reg is-small movies is-underlined'>
        {{title}}
      </p>
      <p class='is-inline is-titillium-reg has-text-grey is-xsmall'>
        &#160 @{{user.username}}
        {{format_date created_at}}
      </p>
    </a>
    <span></span>
  </div>

  <div class='post-content'>
    <p class='is-titillium-reg is-xsmall has-text-black'>
      {{content}}
    </p>
  </div>

  <div class='meta'>
    <button class='material-symbols-rounded moives like-btn' data-id="{{id}}">
      thumb_up
    </button>
    <p class='is-inline is-titillium-reg is-xsmall'>{{like_count}}</p>
    |
    <a href='/{{category}}/post/{{id}}'>
      <span class='material-symbols-rounded movies'>
        forum
      </span>
      <p
        class='is-inline is-titillium-reg is-xsmall has-text-grey-dark'
      >{{comments.length}}</p>
    </a>
    |
    {{!-- update to use the pushed application's url name   --}}
    <a target="_blank" href='https://twitter.com/intent/tweet?text=Follow%20InsertDisc%20at%20InsertDisc.com/{{category}}/post/{{id}}'>
      <img
        class='image is-24x24 is-inline'
        src='/assets/images/Twitter-logo.svg.png'
      />
    </a>
  </div>
</article>
