{{#if loggedIn}}
<div class="column is-10 is-offset-1">
<form id="comment-form">
  <label for="content" class=" is-titillium-reg is-size-5">Add a comment</label>
  <br/>
  <textarea
    class="textarea music-post"
    id="comment-content"
    name="comment-content"
    placeholder="What's on your mind?"
  ></textarea>
  <br/>
  <button
    type="submit"
    class="button has-bg-blue is-contrail is-responsive has-text-white get-started"
  >
  Reply
  </button>
</form>
</div>
{{/if}}

<article class='post music-post column has-background-white m-3'>
  <div class='post-title'>
      <p class='is-inline is-titillium-reg is-small music is-underlined'>
        {{post.title}}
      </p>
      <p class='is-inline is-titillium-reg has-text-grey is-xsmall'>
        &#160 @{{post.user.username}}
        {{format_date post.created_at}}
      </p>
  </div>

  <div class='post-content'>
    <p class='is-titillium-reg is-xsmall has-text-black'>
      {{post.content}}
    </p>
  </div> 
  <div class='meta'>
    <button class='material-symbols-rounded moives like-btn' data-id="{{post.id}}">
      thumb_up
    </button>
    <p class='is-inline is-titillium-reg is-xsmall'>{{post.like_count}}</p>
    |
    <a target="_blank" href='https://twitter.com/intent/tweet?url=https://insertdisc.herokuapp.com/{{post.category}}/post/{{post.id}}&text="{{post.title}}"&via={{post.user.username}}'>
      <img
        class='image is-24x24 is-inline'
        src='/assets/images/Twitter-logo.svg.png'
      />   
  </div>
</article>

  <div>
    {{#each post.comments as |comment|}}
      <ul>
        {{> comments comment}}
      </ul>
    {{/each}}
  </div>
  {{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
<script src="/javascript/like.js"></script>
{{/if}}